<a href="https://colab.research.google.com/github/e-abtahi/Python-Programming/blob/main/Python_Variables/Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id="variables"> </a>
## Python Variables

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [1]:
num = 30

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example âˆ’

In [2]:
#Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5

You can also assign multiple objects to multiple variables

In [3]:
a,b,c = 5,10.1,"Great Lakes"

#### Re-assigning a variable

In [4]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

25

### Rules and Naming Conventions


## Data Types

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:
                        1. Numbers
                        2. Strings
                        3. Boolean
                        4. Lists
                        5. Tuples
                        6. Dictionaries
                        7. Sets

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [5]:
a = -5
type(a)

int

In [6]:
x = 1000
type(a)

int

#### float

In [7]:
a = 1.1
type(a)

float

In [8]:
x = -3.14
type(x)

float

In [9]:
y = 1.626e16
type(y)

float

#### long

In [10]:
x =999999999999999999999999999999999999999999999
type(x)

int

This construct does not exist in Python 3.x.

#### complex

In [11]:
x = 3+4j
type(x)

complex

In [12]:
y = 3e+4j
type(y)

complex

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double-quotes("string").

In [13]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [14]:
str1 = "Great"
str2 = "Learning"
str3 = str1+str2
str3                      # Prints concatenated string

'GreatLearning'

In [15]:
str3*3                    # Prints string three times

'GreatLearningGreatLearningGreatLearning'

You cannot use the minus(-) operator and the division(/) operator on strings.

Subsets of strings can be taken using the slice operator ([ ]). You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [16]:
string[5]                 # Prints sixth character of the string

'd'

You can also display a burst of characters in a string using the slicing operator with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [17]:
string[13:22]             # Prints characters starting from 14th to 21st character

'to Python'

Strings are <em>immutable</em>. The following line of code will generate an error

In [ ]:
string[0] = 'P'

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [19]:
var = True
type(var)

bool

In [20]:
print(10 > 9)

True

In [21]:
print(10 == 9)

False

In [22]:
print(10 < 9)

False

<a id="typecon"> </a>
## Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [23]:
float(11)

11.0

You can turn a Boolean into an float.

In [24]:
float (True)

1.0

In [25]:
float(False)

0.0

You cannot turn a string into an float. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
float("abc")

In [30]:
float("11")

11.0

In [31]:
#You can also use â€˜eâ€™ to denote an exponential number

float("2.24e-2")           #this number works even without the float() function

0.0224

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [32]:
int(11.7)

11

In [33]:
int(-11.7)

-11

 You can also turn a Boolean into an int.

In [34]:
int(True)

1

In [35]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [ ]:
int("GL")

In [37]:
int("11")

11

#### str()
<em>str()</em> converts the value into a string.

In [38]:
str(2.24)

'2.24'

In [39]:
str(True)

'True'

In [40]:
str(False)

'False'

In [41]:
str(10)

'10'

<a id="print"> </a>
## Python print()


                    Syntax:
                         print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
                    print() Parameters:
                    **objects** - object to be printed. * indicates that there may be more than one object
sep - objects are separated by sep. Default value: ' '<br>
end - end is printed at last
file - must be an object with write(string) method. If omitted it, sys.stdout will be used which prints objects on the screen.
flush - If True, the stream is forcibly flushed. Default value: False<br><br>

In [42]:
print("Hello World")

Hello World

In [43]:
#initialize a variable
x = 2
print("x =", x)              # Here we pass two objects

x = 2

Only object parameter is passed in the above print() function

#### print() with separator and end parameters
By default, python's print() function ends with a newline. This function comes with a parameter called 'end.' The default value of this parameter is '\n,' i.e., the new line character. You can end a print statement with any character or string using this parameter.<br>
Sometimes you need to print one blank line in your Python program.

In [44]:
x = 2
a = 8
print("x =", x, end='\n\n\n')
print("a =", 8, end = 'j')

x = 2


a = 8j

Objects will be separated with what the <em>sep</em> parameter is set to

In [45]:
x = 2
a = 8
print("x =", x, sep='$$')
print("a =", 8, sep = 'j')

x =$$2
a =j8

<a id="uinput"> </a>
## User Input

The Python input() function is used to read data from a standard input such as a keyboard and treats the received data as string. Basically, when we enter digit value, input() in python 3 stores it as string value. So to convert string value to integer value, we will use int() function just as shown below.

In [46]:
age = int(input("Please enter your age: "))
print(age)
type(age)

Please enter your age: 40
40

int

In [47]:
name = input("Please enter your name: ")
print(name)
type(name)

Please enter your name: Abtahi
Abtahi

str

When <em>input()</em> function executes program flow will be stopped until the user has given an input. The message displayed on the output screen to ask a user to enter input value is optional i.e. the prompt, will be printed on the screen is optional.
Whatever you enter as input, input function convert it into a string. if you enter an integer value still input() function convert it into a string. You need to explicitly convert it into an integer in your code using typecasting.

<a id="oper"> </a>
## Python Operators

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [48]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [49]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [50]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator
x += 5
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4
print('Updated value of x after (x /= 4) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 4) is 4.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [51]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [52]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [53]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [54]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output